<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      tr,
      td,
      th {
        border: 1px solid black;
      }
      table {
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <h1>users Page</h1>
    <a href="/user/adduser">Add User</a>
    <table>
      <thead>
        <tr>
          <th>Sl No</th>
          <th>Name</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user,i)=>{ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%=user.name%></td>
          <td><%=user.email%></td>
          <td>
            <a href="/user/edit/<%=user._id%>">Edit</a>
            <a href="/user/delete/<%=user._id%>">delete</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
